{% extends 'DefaultBundle:menu:base.html.twig' %}

{% block menu %}
			<!-- Header -->
				<header id="header">
					<!-- Logo -->
						<div class="brand">
							<a href="index.html" class="logo">
								<img src="img/logo.png" alt="logo du MOOC" class="img-responsive" id="logo"/>
							</a>
						</div>
					<!-- Fin Logo -->
				
					<!-- Menu Hamburger -->
						<ul class="nav navbar-nav navbar-left">
							<li class="toggle-navigation toggle-left">
								<button class="sidebar-toggle" id="toggle-left">
									<i class="fa fa-bars"></i>
								</button>
							</li>
						</ul>
					<!-- Fin Menu hamburger -->
			
					<!-- Recherche -->
						<ul class="nav navbar-nav navbar-right">
							<li class="recherche">
								<a href="#search">
									<i class="fa fa-search fa-3"></i>
								</a>
							</li>
						</ul>
					<!-- Fin recherche -->	
				</header>
			<!-- Fin Header -->
			
			<!-- Navigation latérale -->
				<aside class="sidebar sidebar-left">
					<!-- Profil de l'étudiant / professeur -->
						<div class="sidebar-profile" style="display: block;">
							<div class="avatar">
								<img class="img-circle profile-image" src="img/profile.jpg" alt="profile">
							</div>
							<div class="profile-body dropdown">
								<a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									<h4>John Doe</h4>
								</a>
							</div>
						</div>
					<!-- Fin Profil de l'étudiant / professeur-->
				
					<nav>
						<ul class="nav nav-pills nav-stacked">
							<li class="active">
								<a href="#" title="Cours">
									<i class="fa  fa-fw fa-star"></i> Favoris
								</a>
							</li>
							<li class="nav-dropdown">
								<a href="#" title="Menu Levels">
									<i class="fa  fa-fw fa-book"></i> Cours
								</a>
								<ul class="nav-sub">
									<li>
										<a href="#">
											Semestre 1
										</a>
									</li>
									<li>
										<a href="#">
											Semestre 2
										</a>
									</li>
									<li>
										<a href="#">
											Semestre 3
										</a>
									</li>
									<li>
										<a href="#">
											Semestre 4
										</a>
									</li>
									<li>
										<a href="#">
											LP MIM
										</a>
									</li>
									<li>
										<a href="#">
											LP COM
										</a>
									</li>           
								</ul>
							</li>
							<li class="nav-dropdown">
								<a href="#" title="Newsletter">
									<i class="fa  fa-fw fa-comments"></i> Forum
								</a>
							</li>
							<li class="nav-dropdown">
								<a href="#" title="Contacts">
									<i class="fa  fa-fw fa-phone"></i> Contacts
								</a>
							</li>
							<li class="nav-dropdown">
								<a href="#" title="Facebook">
									<i class="fa  fa-fw fa-power-off"></i> Déconnexion
								</a>
							</li>
						</ul>
					</nav>
				</aside>
			<!-- Fin Navigation latérale -->

{% endblock %}